<form>
  <div class="input-group">
    <div>
      <label for="initial-investment">Initial Investment</label>
      <input
        type="number"
        id="initial-investment"
        name="initial-investment"
        [(ngModel)]="formData().initialInvestment"
        required
      />
    </div>

    <div>
      <label for="annual-investment">Annual Investment</label>
      <input
        type="number"
        id="annual-investment"
        name="annual-investment"
        [(ngModel)]="formData().annualInvestment"
        required
      />
    </div>
  </div>

  <div class="input-group">
    <div>
      <label for="expected-return">Expected Return</label>
      <input
        type="number"
        id="expected-return"
        name="expected-return"
        [(ngModel)]="formData().expectedReturn"
        required
      />
    </div>

    <div>
      <label for="duration">Duration</label>
      <input
        type="number"
        id="duration"
        name="duration"
        [(ngModel)]="formData().duration"
        required
      />
    </div>
  </div>

  <button type="submit" (click)="onCalculate()">Calculate</button>
</form>

@if(investmentService.annualData().length) {
<app-investment-results />
} @else {
<p class="center">Please enter some values and press "Calculate".</p>
}
